@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Wancho&display=swap');
::-webkit-scrollbar{
    width: 1.5em;
    height: 1em;
}
::-webkit-scrollbar-track{
    background: rgb(43, 43, 43);
}
::-webkit-scrollbar-thumb{
    background: white;
    border: .25em solid red;
    border-radius: 100vw;
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(rgb(187, 4, 4),rgb(92, 6, 6)); 
}


*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    background-color: black;
}

h1{
    color:rgb(233, 233, 233);

}

.atenção{
    color: white;
    font-size: 20px;
    margin-left: 36%;
    margin-bottom: 30px;
}


/* Menu */

nav ul li a {
    color: yellow;
    padding: 28px;
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin:auto;
}

nav a {
    text-decoration: none;
    display: inline-block;
    color: white;
}

nav {
    background-color: rgb(0, 0, 0);
    padding-top: 15px;
    top: 0;
    width: 100%;
    font-size: 15pt;
}

nav > ul > li {
    background-color: rgb(0, 0, 0);
    display: inline-block;
    padding: 2px;
    position: relative;
}

nav ul li ul li {
    background-color: rgb(43, 43, 43);
    color: white;
    border-radius : 15px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

nav ul li ul {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    display: none;
}

nav > ul > li:hover {
    background-color: rgb(45, 45, 45);
    color: white;    
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

nav > ul > li:hover ul {
    display: block;    
}

nav > ul > li > ul > li:hover {
    background-color: rgb(175, 17, 17);
    color: rgb(0, 0, 0);
    
}

hr{
    border-color: yellow; 
}
.sabre{
    padding-left: 4%;
}



footer {
    margin-top: 30px;
    background-color: rgb(59, 59, 59);
    display: block;
    padding-bottom: 30px;
    padding-top: 35px;
}

footer p a{
    margin-left: 30px;
    color: rgb(193, 0, 138);
    padding: 10px;
    border-radius: 7px;
    text-decoration: none;
}

footer p {
    color: royalblue;

}

footer p a.active,
footer p a:hover{
    background: linear-gradient(rgb(255, 0, 247),rgb(255, 251, 0));
}

.sabre{
    padding-left: 4%;
}

/* Fileira de itens */

.fileira{
    display: flex;
    border-top: none;
    padding-top: 0;
    padding-left: 130px;
    padding-right: 130px;
}

.itens{
    flex: 1; /*distribui as 3 divs dentro do conteiner com larguras iguais*/
    text-align: center;
 }

.botão{
    background: rgb(0, 0, 0);
    background: linear-gradient(150deg, rgba(125, 125, 125, 0.826) 3%, rgb(0, 0, 0) 50%, rgb(66, 2, 126) 100% );
    border: none;
    color: white;
    padding: 9px 95px;
    margin-top: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 1.5rem;
}


/*  */


.horizontal{
    border-top: 3px solid yellow;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 8%;
    margin-bottom: 8%;
}

.img{
    width:190;
    height:275;
}

.nome{
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none;
}

.nome:hover{
    text-decoration: underline;
}

.card{
    text-align: center;
    background-color: rgba(64, 64, 64, 0.407);
    margin-bottom: 15%;
    padding-top: 5%;
    width: 295px;
    height: 488px;
    box-shadow: 1px 8px 9px 6px rgba(0, 0, 0, 0.377);
    border-radius: 1.5rem;
    
}

.produtos{
    margin: auto;
    width: 1100px;
}
iframe{
    margin-left: 450px;
}


/* Resoluções  */

@media (max-width: 1680px){
    .card{
        width: 245px;
    }
    
}

@media (max-width: 1280px){
    .card{
        width: 230px;
    }
    iframe{
        margin-left: 350px;
    }
}


@media (max-width: 1152px){
    .card{
        width: 200px;
    }
    iframe{
        margin-left: 250px;
    }
}

@media (max-width: 800px){
    .card{
        width: 170px;
    }
    iframe{
        margin-left: 100px;
    }
    .fileira{
        display: flex;
        border-top: none;
        padding-top: 0;
        padding-left: 20px;
        padding-right: 10px;
    }
    .img{
        width:150; 
        height:235;
    }
}


@media (max-width: 950px){
    .card{
        width: 170px;
        
    }
    iframe{
        margin-left: 100px;
    }
    .fileira{
        display: flex;
        border-top: none;
        padding-top: 0;
        padding-left: 40px;
        padding-right: 10px;
    }
    .img{
        width:150; 
        height:235;
    }
    .horizontal{
        border-top: 3px solid yellow;
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 8%;
        margin-bottom: 8%;
    }
}



@media (max-width: 550px){
    nav ul li a {
        color: yellow;
        padding: 10px;
        display: inline-block;
        text-decoration: none;
        font-size: 12px;
    }

    .card{
        width: 350px;
        
    }

    .fileira{
        display: flex;
        border-top: none;
        padding-top: 0;
        padding-left: 18%;
        padding-right: 10px;
        flex-direction: column;
    }
    .img{
        width:80%; 
        height:69%;
    }
    .atenção{
        color: white;
        font-size: 20px;
        margin-left: 15%;
        margin-bottom: 30px;
    }
    iframe{
        margin-left: 30px;
        width: 480;
    }
}

@media (max-width: 415px){
    nav ul li a {
        color: yellow;
        padding: 8px;
        display: inline-block;
        text-decoration: none;
        font-size: 11px;
    }

    footer {
        margin-top: 30px;
        background-color: rgb(59, 59, 59);
        display: block;
        padding-bottom: 30px;
        padding-top: 35px;
    }

    footer p a{
        margin-left: 30px;
        color: rgb(193, 0, 138);
        padding: 10px;
        border-radius: 7px;
        text-decoration: none;
    }

    footer p {
        color: royalblue;

    }

    footer p a.active,
    footer p a:hover{
        background: linear-gradient(rgb(255, 0, 247),rgb(255, 251, 0));
    }

    .fileira{
        display: flex;
        border-top: none;
        padding-top: 0;
        padding-left: 8%;
        padding-right: 10px;
        flex-direction: column;
    }
    
    iframe{
        margin-left: 20px;
        width: 375;
    }
}


    
    
@media (max-width: 415px){
    nav ul li a {
        color: yellow;
        padding: 7px;
        display: inline-block;
        text-decoration: none;
        font-size: 10px;
    }

    .fileira{
        display: flex;
        border-top: none;
        padding-top: 0;
        padding-left: 6%;
        padding-right: 10px;
        flex-direction: column;
    }
    
    iframe{
        margin-left: 10px;
        width: 375;
    }
}

@media (max-width: 380px){
    .card{
        width: 300px;
        
    }
    .fileira{
        display: flex;
        border-top: none;
        padding-top: 0;
        padding-left: 10%;
        padding-right: 10px;
        flex-direction: column;
    }
    
    iframe{
        margin-left: 10px;
        width: 355;
    }
}

@media (max-width: 365px){
    .card{
        width: 300px;
        
    }
    .fileira{
        display: flex;
        border-top: none;
        padding-top: 0;
        padding-left: 9%;
        padding-right: 10px;
        flex-direction: column;
    }
    
    iframe{
        margin-left: 10px;
        width: 340;
    }
}