@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Wancho&display=swap');

::-webkit-scrollbar{
    width: 1.5em;
    height: 1em;
}
::-webkit-scrollbar-track{
    background: rgb(43, 43, 43);
}
::-webkit-scrollbar-thumb{
    background: white;
    border: .25em solid red;
    border-radius: 100vw;
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(rgb(187, 4, 4),rgb(92, 6, 6)); 
}





*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: black;
}



/* Menu */

nav ul li a {
    color: yellow;
    padding: 28px;
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin:auto;
}

nav a {
    text-decoration: none;
    display: inline-block;
    color: white;
}

nav {
    background-color: rgb(0, 0, 0);
    padding-top: 15px;
    top: 0;
    width: 100%;
    font-size: 15pt;
}

nav > ul > li {
    background-color: rgb(0, 0, 0);
    display: inline-block;
    padding: 2px;
    position: relative;
}

nav ul li ul li {
    background-color: rgb(43, 43, 43);
    color: white;
    border-radius : 15px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

nav ul li ul {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    display: none;
}

nav > ul > li:hover {
    background-color: rgb(45, 45, 45);
    color: white;    
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

nav > ul > li:hover ul {
    display: block;    
}

nav > ul > li > ul > li:hover {
    background-color: rgb(175, 17, 17);
    color: rgb(0, 0, 0);
    
}

hr{
    border-color: yellow; 
}
.sabre{
    padding-left: 4%;
}

footer {
    margin-top: 30px;
    background-color: rgb(59, 59, 59);
    display: block;
    padding-bottom: 30px;
    padding-top: 10px;
}

footer p a{
    margin-left: 30px;
    color: rgb(193, 0, 138);
    padding: 10px;
    border-radius: 7px;
}

footer p {
    color: royalblue;

}

footer p a.active,
footer p a:hover{
    background: linear-gradient(rgb(255, 0, 247),rgb(255, 251, 0));
}


/* Fileira de itens */

.fileira{
    display: flex;
    border-top: none;
    padding-top: 0;
    padding-left: 39%;
    padding-right: 130px;
    margin-top: 10px; 
    margin-bottom: 40px;
    
}

.itens{
    flex: 1; 
}

.texto{
    margin-left: 22%;
    margin-right: 6%;
    padding-bottom: 50px;
    padding-top: 40px;
    text-align: justify;
}

h1{
    color:rgb(233, 233, 233);
}
.h1{
    color: white; 
    margin-top: 5%;
}

p{
    padding-top: 30px;
    margin-right: 25%;
    text-align: justify;
    color: #fff;
}

a{
    text-decoration: none;
}


@media (max-width: 950px){
    .fileira{
        display: flex;
        border-top: none;
        padding-top: 0;
        padding-left: 34%;
        padding-right: 130px;
        margin-top: 10px; 
        margin-bottom: 40px;
    }
}